body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; ပထမပုံ မပေါ်တာ */

}
.card{
    width: 200px;
    background-color: yellowgreen;
    padding: 1em;
    border-radius: 12px;
    margin: 1em;
}